          			<div id="relations">
          				<label>Group name: {{=group}}</label>
          				<form id="domainForm" >
          				<table class="table table-condensed">
          					{{for item in projects:}} 
							<tr>
								<th>{{=item[1]}}</th>
								<td>
									<select name="projectPrivileges">
										{{for priv in privileges:}}
											{{ pom = str(item[0])+'|sep|'+str(priv[0]) }}
												<option {{if pom in selProjects:}}selected{{pass}} value="{{=item[0]}}|sep|{{=priv[0]}}">{{=priv[1]}}</option>
										{{pass}} 
									</select>
								</td>
							</tr>
							{{pass}}
						</table>
							<input type="hidden" id="domainId" name="domainId" value="{{=domainId}}" />
							<input type="hidden" id="groupId" name="groupId" value="{{=groupId}}" />						
						</form>
          			</div>  
