{{extend 'layout.html'}}
<div class="page-content">		
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="portlet box blue">
			    <div class="portlet-title">
			    	<div class="caption">{{if(request.args(0) == 'cas'):}}Login{{else:}}{{=T( request.args(0).replace('_',' ') )}}{{pass}}</div>
			    </div>		
				<div id="web2py_user_form" class="portlet-body">
				  <div class="form-body">
				  {{=form}}
				  </div>
				  {{if request.args(0)=='login':}}
				    {{if not 'register' in auth.settings.actions_disabled:}}
				      <br/><a href="{{=URL(args='register')}}">register</a>
				    {{pass}}
				    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
				      <br/>
				      <a href="{{=URL(args='request_reset_password')}}">lost password</a>
				    {{pass}}
				  {{pass}}
				</div>
			</div>
			
			{{if response.flash:}}<div id="flash" class="alert alert-danger" role="alert">{{=XML(response.flash) or ''}}</div>{{pass}}		
			
		</div>
	</div>
</div>
